body {
	background-color:burlywood ;
}

h1 {
	color:black;
	font-family: baskerville;
	
	
}

h2 {
	color:black;
}

p {
	color:black;
}

a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: darkgreen;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: palegoldenrod;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: rebeccapurple;
	background-color: transparent;
	text-decoration: underline;
  }
	
  