body {
	background-color:firebrick ;
}

h1 {
	color:black;
	
}

h2 {
	color:black;
}

p {
	color:black;
}

img{
	border: 5px solid rosybrown;
	height: auto;
	width: 100%;
	contain: size;
}

link{
	color: black;
}

link{
	color:black;
}
