body {
	background-color:burlywood ;
}

h1 {
	color:black;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; font-style: normal; font-variant: normal; font-weight: 700; line-height: 50px; }
	;

h2 {
	color:black;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }


p 

a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: darkgreen;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: palegoldenrod;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: rebeccapurple;
	background-color: transparent;
	text-decoration: underline;
  }
  img{
	border: 2px solid black;
	width: 350;
	height: auto;
	
}
  